<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name = "TimeOut Exception">
        <classes>
            <class name = "testNG.K_TimeOutAndExpectedExceptions.SampleCase"/>
        </classes>
    </test>
</suite>